body {
    margin-top: 50px;
    margin-left: 200px;
    color: white;
    background-color: black;
}



.lebutton {
    display: inline;
    font-size: 15px;
}
.text {
    display: inline;
    font-size:150%;
    font-weight: bold;
    letter-spacing: 150%;
}

.button {
    border-radius: 10px;

}

.big-btn {
    width: 200px;
    height: 40px;
    font-size: 20px;
}
.on {
    color: rgb(35, 165, 35);
}

.off {
    color: rgb(136, 6, 6);
}